html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: 100%;
	line-height: $base-line-height;
	overflow-y: scroll;
	// -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding-top: 90px;
}

.page-wrap {
	@include clearfix;
	// background-color: #03192b;
	background-color: $color-blue-d;
	overflow: hidden;
	position: relative;

	&::before {
		@include position(absolute, 0 0 0 0);
		@include size(100%);
		background-image: url('../img/bg/r&s-bg.png');
		background-position: top;
		content: '';
		z-index: 0;
	}
}



// Page Sections

.container {
	@include outer-container;
}

.container-full {
	@include outer-container(100%);
	position: relative;
}

%page-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.section-wrap {
	@extend %page-section;
}

.page-section {
	@extend %page-section;
	padding: 60px 0;

	@media (min-width: 480px) {
		@include padding(80px null);
	}

	@media (min-width: 767px) {
		@include padding(120px null);
	}

	@media (min-width: 992px) {
		@include padding(140px null);
	}
}

.small-section {
	@extend %page-section;
	@include padding(30px null);

	@media (min-width: 480px) {
		@include padding(50px null);
	}

	@media (min-width: 767px) {
		@include padding(70px null);
	}
}