@import '../../node_modules/bourbon/core/bourbon';
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';

@import 'base/variables';

@import 'base/buttons';
@import 'base/forms';
@import 'base/layout';
@import 'base/lists';
@import 'base/media';
@import 'base/tables';
@import 'base/typography';

@import 'components/intro';
@import 'components/tabs';
@import 'components/navbar';
@import 'components/footer';
@import 'components/map';
@import 'components/accordion';


.expander {
  width: 25em;

  .expander-trigger {
    display: block;

    &:before {
      content: "\25BC";
      margin-right: 0.5em;
    }
  }

  .expander-hidden {
    &:before {
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}