.footer {
	border-bottom: $small-spacing solid $color-red;
	overflow: hidden;
	position: relative;
	text-align: center;

	> svg {
		fill: $color-blue;
		margin-top: 70px;
	}

	.small-section {
		background-color: $color-blue;
		padding-top: 0;
	}

	figure {
		height: 70px;

		svg {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.footer-company-name {
		color: $medium-gray;
		font-size: 12px;
		margin: 0;
	}

	.footer-links {
		@include padding($base-spacing null $small-spacing);

		a {
			color: $color-white;
			display: inline-block;
			font-size: 14px;
			font-weight: 500;
			margin-right: $base-spacing;

			&:last-child {
				margin-right: 0;
			}

			&:hover,
			&.active {
				color: $color-red-l;
			}
		}
	}
}