
//colors
$color_cape_cod_approx: #404040;
$black_25: rgba(0, 0, 0, 0.25);
$color_woodsmoke_approx: #101010;
$white: #fff;
$color_gallery_approx: #eee;
$color_salem_approx: #00853e;
$color_atlantis_approx: #8cc63f;
$color_desert_storm_approx: #f8f8f8;
$black_10: rgba(0, 0, 0, 0.1);

.pad2 {
	padding: 20px;
}


// .sidebar {
// 	background-color: $color-white;
// 	color: #101010;
// 	border-right: 1px solid $black_25;
// 	@media (min-width: 767px) {
// 		float: left;
//     width: 350px;
//     overflow-y: scroll;
//     height: calc(100vh - 91px);
// 	}
// 	header {
// 		border-bottom: 1px solid #e7e7e7;
// 		min-height: 60px;
// 		line-height: 60px;
// 		background-color: #20325a;
// 		color: #fff;
// 		font-weight: 700;
// 		padding-right: $small-spacing;
// 		padding-left: $small-spacing;
// 		font-size: $base-spacing;
// 	}
// }

.sidebar {
	position: relative;
	width: 100%;
	z-index: 3;

	@media (min-width: 992px) {
		border-left: 1px solid $color-blue;
		margin-left: 50%;
		width: 50%;
		overflow-y: scroll;
		height: calc(100vh - 92px);
	}

	header {
		position: relative;
		z-index: 2;
		padding: $base-spacing;
		background-color: $color-blue;
		border-top: ($small-spacing / 2) solid $color-blue-l;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			color: $color-white;
			display: inline-block;
			font-size: 24px;
			margin-bottom: 0;
		}
	}
}





// .map-wrap {
// 	.map {
// 		height: 50vh;
// 		width: 100%;
// 	}
// 	@media (min-width: 767px) {
//     float: right;
//     width: calc(100% - 350px);
//     .map {
//       height: calc(100vh - 91px);
//     }
// 	}
// }



.map-wrap {
	z-index: 2;

	@media (min-width: 992px) {
		@include position(fixed, 92px 50% 0 0);
	}

	@media (max-width: 992px) {
		position: relative;
		height: 600px;
		width: 100%;
	}

	.map {
		@include size(100%);
	}
}

.listings {
	@include outer-container(100%);
	background-color: #e1e2e1;
	padding: $small-spacing;
	height: 100%;
	overflow: auto;
	padding-bottom: 60px;

	.item {
		@include row;
		transition: all 0.3s linear;
		background-color: $color-white;
		border: 3px $color-white solid;
		margin-bottom: $small-spacing;
		cursor: pointer;
		padding: 10px;
		position: relative;
		outline: transparent;
		box-shadow: $box-shadow-card;
		display: block;
		// border-bottom: 1px solid #e7e7e7;
		// padding: 0.5rem $small-spacing;

		&:last-child {
			border-bottom: 0;
		}

		&.active {
			border-color: $color-red-l;

			&:hover {
				background-color: $color-white;
				border-color: $color-red-l;
			}

			.title {
				color: #b33839;
			}
		}

		.title {
			display: block;
			color: #ef4b4c;
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 0.375rem;

			&:hover {
				color: #b33839;
			}
		}

		.details {
			font-size: 14px;

			li {
				line-height: 1.2;
				margin-bottom: 0.375rem;
				margin-right: 0.75rem;

				&:last-child {
					margin-right: 0;
				}

				span {
					height: 14px;
					width: 1rem;
					display: inline-block;
					margin-right: 4px;

					svg {
						fill: #20325a;
						height: 14px;
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
}

::-webkit-scrollbar {
	border-left: 0;
	background: rgba(0, 0, 0, 0.1);
	@include size(3px);
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: $color-blue-l;
	border-radius: 0;
}

.marker {
	border: 0;
	cursor: pointer;
	@include size(56px);
	background-image: url('../img/marker.png');
}

.clearfix {
	display: block;

	&::after {
		content: '.';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.mapboxgl-popup {
	padding-bottom: $base-spacing * 2;
	color: $base-font-color;

	&-content {
		padding: 0;
		border-radius: $small-spacing / 2;
		font-size: 14px;

		h3 {
			margin: 0;
			display: block;
			text-align: center;
			padding: $small-spacing $base-spacing;
			font-weight: 700;
			background-color: $color-blue-d;
			color: $color-white;
			border-top-left-radius: $small-spacing / 2;
			border-top-right-radius: $small-spacing / 2;
			font-size: 20px;
		}

		button {
			padding: 0;
			border: 1px solid $color-blue;
			border-radius: 50%;
			font-size: 16px;
			line-height: 16px / 2;
			display: inline;
			right: -$small-spacing;
			top: -$small-spacing;
			background-color: $color-red-l;
			color: $color-white;
			@include size($base-spacing);

			&:hover {
				background-color: $color-red-d;
			}
		}

		ul {
			padding: $small-spacing;

			svg {
				height: 0.75rem;
				margin-right: 0.375rem;
				max-width: 100%;
				max-height: 100%;
			}

			li {
				margin-bottom: 8px;
				line-height: 1.2;
			}

			.icon-list {
				margin-left: $base-spacing;
				height: 1rem;

				&::before {
					content: '';
					@include size(1rem);
					display: block;
					float: left;
					line-height: 1rem;
					margin-left: -$base-spacing;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 90%;
				}

				&.icon-list-phone::before {
					background-image: url('icon-phone__red.svg');
				}

				&.icon-list-fax::before {
					background-image: url('icon-fax__red.svg');
				}
			}
		}
	}
}

.mapboxgl-popup-anchor-top {
	margin-top: 30px;

	> .mapboxgl-popup-tip {
		border-bottom-color: $color-blue-d;
	}
}

.mapboxgl-popup-content-wrapper {
	padding: 1%;
}

.mapboxgl-ctrl-geocoder {
	// border: 2px solid $color_salem_approx;
	border: 0;
	border-radius: 0;
	position: relative;
	top: 0;
	width: 800px;
	margin-top: 0;

	> div {
		min-width: 100%;
		margin-left: 0;
	}
}

.mapboxgl-container .leaflet-marker-icon {
	cursor: pointer;
}

.store__manager {
	display: inline-block;
	line-height: 1.2;

	dt {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	}

	dd {
		font-weight: 500;
	}
}