$large-screen: 53.75em !default;
$horizontal-bar-mode: $large-screen;
$navigation-height: 60px;
$navigation-background: #fff;
$navigation-color: transparentize($dark-gray, .3);
$navigation-color-hover: $dark-gray;
$top-bar--height: $navigation-height / 2;
$logo--max-width: 108px;

header.navigation {
	background-color: $navigation-background;
	border-bottom: 1px solid darken($navigation-background, 10);
	left: 0;
	min-height: $navigation-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;

	.navigation-wrapper {
		@include outer-container;
		position: relative;
		z-index: 9999;
	}

	.navbar-header {
		float: left;
		font-size: 0;
		line-height: 1;
		position: relative;

		@include media($horizontal-bar-mode) {
			@include margin(-$base-spacing null null);
			// Bar
			&::before {
				@include position(absolute, 0 0 null null);
				@include size(6000px, $base-spacing);
				background-color: $navigation-background;
				content: '';
				z-index: 0;
			}

			&::after {
				@include position(absolute, 0 -24px null null);
				@include triangle("down-left", $base-spacing, $small-spacing, $navigation-background);
				content: '';
				display: block;
			}
		}
	}

	.logo {
		@include margin(($small-spacing / 2) null ($small-spacing / 2) $base-spacing);
		display: inline-block;
		height: $base-spacing * 2;

		@include media($horizontal-bar-mode) {
			@include margin($base-spacing null 0 null);
		}

		svg {
			height: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}

	// Mobile view

	.navigation-menu-button {
		@include padding(null $base-spacing);
		color: $navigation-color;
		display: block;
		float: right;
		line-height: $navigation-height;
		outline: 0;

		@include media($horizontal-bar-mode) {
			display: none;
		}

		&:focus,
		&:hover {
			color: $navigation-color-hover;
		}
	}

	// Nav menu

	nav.navbar-nav {
		min-height: $navigation-height;
		z-index: 9999999;

		@include media($horizontal-bar-mode) {
			float: right;
		}
	}

	ul.navigation-menu {
		@include clearfix;
		// clear: both;
		display: none;
		overflow: visible;
		width: 100%;
		z-index: 9999;

		@include media($horizontal-bar-mode) {
			display: inline;
		}

		&.show {
			display: block;
		}

		li.nav-link {
			background: $navigation-background;
			line-height: $navigation-height;
			overflow: hidden;
			text-align: right;
			width: 100%;
			z-index: 9999;

			&:first-of-type {
				border-top: 1px solid darken($navigation-background, 10);
			}

			@include media($horizontal-bar-mode) {
				background: transparent;
				display: inline;
				line-height: $navigation-height;
				width: auto;

				&:first-of-type {
					border-top: 0;
				}
			}

			> a {
				@include padding(null $base-spacing);
				color: $navigation-color;
				cursor: pointer;
				display: block;
				font-size: 14px;
				font-weight: 500;

				@include media($horizontal-bar-mode) {
					display: inline-block;
					position: relative;

					&::before {
						@include position(absolute, null null -1px 0);
						background-color: $color-red-l;
						content: '';
						height: 2px;
						transition: all .35s ease-out;
						width: 0%;
					}

					&:hover,
					&.active {

						&::before {
							width: 100%;
						}

					}
				}

				&:focus,
				&:hover {
					color: $navigation-color-hover;
				}
			}
		}
	}
}


// Top Bar

.top-bar {
	background-color: $color-red;
	font-size: $small-spacing;
	height: $top-bar--height;
	line-height: $top-bar--height;
	position: relative;

	@media (max-width: 480px) {
		text-align: center;
	}

	svg {
		max-height: 100%;
		max-width: 100%;
	}

	a {
		color: $navigation-background;
		display: inline-block;
		margin-right: $base-spacing;
		transition: all .27s cubic-bezier(.300, .100, .580, 1);

		&:last-child {
			margin-right: 0;
		}
	}

	&__left {
		float: left;
		margin-left: $base-spacing;

		@media (max-width: 480px) {
			float: none;
		}

		a:hover {
			color: $light-gray;
		}

		span {
			svg {
				display: inline-block;
				fill: $color-blue;
				height: $small-spacing;
				margin-right: $small-spacing / 2;
			}
		}
	}

	&__right {
		display: block;
		float: right;
		margin-right: $base-spacing;

		@media (max-width: 480px) {
			display: none;
		}

		svg {
			fill: $color-blue;
			height: $top-bar--height / 2;
			transition: all .27s cubic-bezier(.300, .100, .580, 1);

			&:hover {
				fill: $color-white;
			}
		}
	}

	> .container {
		@include media($horizontal-bar-mode) {
			padding-left: $logo--max-width + 48px;
		}
	}
}

.sub-nav__menu {
	background-color: $light-gray;
	display: none;
	line-height: $base-line-height;
	overflow: hidden;
	padding: $small-spacing $base-spacing;

	@media (min-width: 860px) {
		margin-top: 1px;
		position: absolute;
		right: 0;
		z-index: 9999;
	}

	&.show-menu {
		display: block;
	}

	li {
		padding-bottom: 12px;

		&:last-of-type {
			padding-bottom: 0;
		}

		a {
			position: relative;
			z-index: 1;
		}
	}
}