$color_fuscous_gray_approx: #555;
$color_suva_gray_approx: #888;
$color_black_haze_approx: #f7f7f7;
$color_alto_approx: #ddd;
$black_30: rgba(0, 0, 0, 0.3);

//fonts
$font_0: sans-serif;

.tabs-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	@media (min-width: 768px) {
		flex-direction: row-reverse;
	}
}

.tabs-nav-wrapper {
	@media (max-width: 768px) {
		@include margin(null auto ($base-spacing + $small-spacing));
		position: relative;
		width: 100%;
	}
}

.tabs-nav-underline {
	background: $color-red;
	bottom: 0;
	height: 2px;
	position: absolute;
	transition: all 150ms ease-in-out;

	@media (min-width: 768px) {
		display: none;
	}
}

.tabs {
	display: flex;
	justify-content: space-between;

	@media (min-width: 768px) {
		display: block;
		width: 200px;
	}

	li {
		@media (max-width: 767px) {
			align-items: center;
			cursor: pointer;
			display: flex;
			min-height: 48px;
			user-select: none;


			&:nth-child(8) {
				margin-right: 0;
			}

			&:last-of-type {
				display: none;
			}
		}

		@media (min-width: 768px) {
			display: block;
		}
	}

	a.tabs-nav-item {
		color: $color-white;
		cursor: pointer;
		display: inline-block;
		font-size: 26px;
		font-weight: 600;
		position: relative;
		transition: all 0.4s ease-in-out;

		@media (max-width: 400px) {
			font-size: 16px;
		}

		@media (max-width: 768px) {
			.city-full {
				display: none;
			}
		}

		@media (min-width: 768px) {
			margin-bottom: 15px;
			text-align: right;
			width: 100%;

			&::before {
				background-color: $color-white;
				content: '';
				height: 2px;
				margin-top: 2px;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				visibility: hidden;
				width: 30px;
			}

			.city-abrv {
				display: none;
				font-size: 36px;
			}

			&:focus,
			&:hover {
				color: $color-red-l;
			}
		}

		&.active {
			color: $color-red-l;

			@media (min-width: 768px) {
				padding-right: 40px;

				&::before {
					background-color: $color-red-l;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.tabgroup {
	flex: 1;
	// padding: 1.5rem 2rem;
}

.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

.tabs-all-stores {
	display: none;

	@media (min-width: 768px) {
		display: inline-block;
		margin-bottom: 15px;
		text-align: right;
		width: 100%;
	}
}
