extends _layouts/store

block head_end
	link(rel="stylesheet" href="css/style.css")

block content
	.container-full
		.map-wrap
			#map.map
		.sidebar
			header
				h1 Store Locations
			ul#listings.listings



	block body_end